html {
    overflow: scroll;
    overflow-x: hidden;
}


::-webkit-scrollbar {
    display: none;
    width: 0px;
}

#app {
    float: right;
    width: 70vw;
    margin-right: 1%;
    margin-left: 3%;
    display: block;
}

#results {
    margin-top: 5%;
    margin-left: -1%;
    width: 70vw;
}

#art {
    height: 32vh;
    margin: 0;
    padding: 0;
}

.card-content {
    height: 15vh;
    overflow: auto;
}

main {
    position: fixed;
    float: right;
    background-color: black;
    color: white;
    padding: 3%;
    height: 100vh;
    width: 25vw;
    overflow: auto;
}


input,
textarea {
    margin-top: 20%;
    display: block;
    resize: none;
}

input[type="text"],
textarea {
    width: 100%;
    color: white;
}

img {
    width: 100%;
}

h6 {
    color: gray;
    margin-top: 10%;
}